$darkThemeColor1: hsla(252, 80%, 6%, 1);
$darkThemeColor2: hsl(243.33,25%,14.12%);
$darkThemeColor3:#341948;
$darkThemeColor4:#9388A2;
$darkThemeColor5: rgb(132, 54, 209);
$lightThemeColor1:rgb(244, 242, 230);
$lightThemeColor2:hsla(351, 82%, 47%, 1);
$lightThemeColor2faded:hsla(351, 82%, 47%, .3);
$lightThemeColor2hover:rgb(248, 108, 129);
.darkTheme{
  background-color: $darkThemeColor1;
  .speechBubble{
    background-color: $darkThemeColor2;
    filter: drop-shadow(0px 0px 1px rgb(104, 101, 167))
    drop-shadow(0px 0px 3px rgb(122, 118, 196));
  }
  .header{
    color:white;
    .newMessageButton{
      background-color:rgb(132, 54, 209);
    }
    .themeSwitcher{
      background-color: rgb(0, 0, 30);
  
      &:hover{
        background-color: grey;
      }
    }
  }
  
  .userInfo{
    background-color: $darkThemeColor1;
  }
  .pagination{

    .nav{

      background-color: rgba(132, 54, 209,1);
          .active{
            background-color: rgba(132, 54, 209,1);
        }
        
    }
    .inactive{
      background-color: rgba(132, 54, 209,.4);
  }
  }
  .newMessageButton{
    background-color: $darkThemeColor5;
    &:hover{
      background-color:rgb(160, 67, 253);
    }
  }
}
.lightTheme{
  background-color: $lightThemeColor1;
  .speechBubble{
    background-color: white;
    filter: drop-shadow(0px 0px 1px $lightThemeColor2faded)
    drop-shadow(0px 0px 2px $lightThemeColor2);
  }
  .header{
    color:black;
    .newMessageButton{
      background-color: hsla(351, 82%, 47%, 1);
      &:hover{
        background-color:$lightThemeColor2hover;
      }
    }
  }
  .themeSwitcher{
    background-color: deepskyblue;

    &:hover{
      background-color: grey;
    }
  }
  .userInfo{
    background-color:$lightThemeColor1;
    .userName{
      color:black;
    }
  }
  .message{
    color:black;
  }
  .pagination{

    .nav{
        &:disabled{
          background-color: $lightThemeColor2faded;
        }
      background-color: $lightThemeColor2;
          .active{
            background-color: rgba(132, 54, 209,1);
        }
        &:hover{
          background-color:$lightThemeColor2hover;
      }
    }

    .inactive{
      background-color: $lightThemeColor2faded;
  }
  }

}

.container{
  display: flex;
  flex-direction: column;
  height:100%;
  max-height:100vh;
  width:100%;
  align-items: center; 
  text-align: center;
  transition:background-color .2s;
  overflow:hidden;
    .header{
      width:60%;
      display:flex;
      position:relative;
      justify-content: space-between;

      .themeSwitcherContainer{
        display:flex;
        align-items: center;
        gap:1rem;
        .themeSwitcher{
          height:50px;
          width:50px;
          border-radius: 50%;
          border-style:none;
          transition: background-color .3s;
        }
      }
    }
    
    .newMessageButton{
      color:white;
      border:none;
      border-radius: 15px;
      font-weight:600;
      width:150px;
      height:50px;
      font-size:larger;
      
    }
 
}
:global{
  @keyframes slideRight {
    0%{
      transform: translateX(-150%);
    }
    100%{
      transform:translateX(0%);
    }
  }
}
