.container{
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
  align-items: center; 
  text-align: center;
  
    .header{
      background-color: antiquewhite;
      width:100%;
    }
    ul{
      list-style: none;
      width:80%;
    }
    .userInfo{
      display:flex;
      justify-content: space-around;
    }
    .userName{
      font-weight:600;
      font-size: 1.4;
    }
}
