$darkThemeColor1: rgb(36, 36, 36);
$darkThemeColor2: rgb(29, 29, 29);
$lightThemeColor1:rgb(244, 242, 230);
@media screen and (min-width: 500px) {
    .formContainer{
        form{
            min-width:85vw;
            top:35%;
            left:10%;
        }
    }
  }
  @media screen and (min-width: 1200px) {
    .formContainer{
        form{
            min-width:60vw;
                    
        top:30%;
        left:20%;
        }
    }
  }
.formContainer{
    position: absolute;
    width:100%;
    z-index:2;  
    .overlay{
 
        height:100vh;
        width:100vw;
        background-color: rgba(0, 0, 0, .3);
    
    }

    form{
        color:white;
        position:absolute;
        height:300px;
      

        transform:translate(-50%,-50%);
        background-color:$darkThemeColor2;
        border:1px solid #7EC8E3;
        border-radius: 10px;
        padding-bottom:2.5rem;
        animation:pop .4s 1 forwards;
        .usernameInput{
            display:flex;
            flex-direction:column;
            align-items: flex-start;
            margin-left:10%;
            font-weight:600;
            font-size:large;
            margin-top:2rem;
            input{
                width:40%;
                border-radius:5px;
                border:1px solid white;
                background-color: $darkThemeColor1;
              
                height:30px;
                width:90%;
                padding-left:10px;
                &:focus{
                    border-color:#007BFF;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    outline: none;
                    background-color: rgba(0, 0, 0, .9);
                }
            }
            
        }
        .messageInput{
            display:flex;
            flex-direction:column;
            align-items: flex-start;
            margin-left:10%;
            font-weight:600;
            textarea{
                width:90%;
                height:140px;
                padding:10px;
                resize:none;
                background-color: $darkThemeColor1;
                border:1px solid white;
                ::placeholder{
                    color:#888;
                    font-style:italic;
                    
                }
                &:focus{
                    border-color:#007BFF;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    outline: none;
                }
            }
        }

        .exitButton{
            position: absolute;
            border-radius:100px;
            border-style: none;
            width:40px;
            height:40px;
            left:90%;
            top:3%;
            &:hover{
                border-color:white;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.781);
           
            }
        }
        .submitButton{
            font-weight:600;
            width:100px;
            height:30px;
            border-radius: 15px;
            border-style: none;
            margin-top:1rem;
            
            &:hover{
                border-color:white;
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.781);
                outline: none;
            }
           
        }
    }
}
:global{
    @keyframes pop{
        0%{
            transform: scale(0);
        }
        100%{
            transform:scale(1);
        }
    }
}
